html {
    background-color: black;
}

body {
    font-family: Verdana, sans-serif;
    font-weight: normal;
    color: white;
    text-align: center;
}

.download {
    color: aquamarine;
    font-size: 16px;
}

.subHeading {
    font-weight: 300;
    font-size: 42px;
}

.picHeading {
    font-size: 21px;
    color: gray;
}

#mainHeading {
    font-size: 50px;
    font-weight: normal;
}